.white-background {
    background-color: white;
}

.white-smoke-background {
    background-color: whitesmoke;
}
.error {
    font-size: 18px;
    color: red;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#errormessage {
    color: red;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#errorList {
    list-style-position: inside;
    text-align: center;
    font-size: 18px;
    color: red;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
