<section class="section aboutus-section">
    <div class="container">
        <img src="./public/images/aboutus.png" class="about-img" alt="">
        <p class="about-text">This app is built for people who dont have time do meal by themselves,
            thanks for using our app.</p>
        <p class="about-member">Member: Tanay,</p>
        <p class="about-member">Akshay,</p>
        <p class="about-member">Rosh,</p>
        <p class="about-member">Lihaoyu,</p>
        <p class="about-member">Zhangyongxiag</p>
    </div>
</section>