<section class="section commentlist-section">
    <div class="container">
        <div class="comment-operate">
            <a href="/comment" class="btn btn-primary cart-btn position-relative">Add Comment</a>
        </div>
        <div class="comment-list">
            <div class="comment-item">
                <div class="user-info">
                    <img src="./public/images/comment/user.png" class="user-avatar" alt="">
                    <div class="user-detail">
                        <span class="user-name">nickname</span>
                        <span class="star-list">
                            <img src="./public/images/comment/star-active.png" alt="" />
                            <img src="./public/images/comment/star-active.png" alt="" />
                            <img src="./public/images/comment/star-active.png" alt="" />
                            <img src="./public/images/comment/star-active.png" alt="" />
                            <img src="./public/images/comment/star.png" alt="" />
                        </span>
                    </div>
                    <div class="comment-date">
                        <span>2021-01-01</span>
                    </div>
                </div>
                <span class="comment-content">
                    <i class="food-name">#fish#</i>
                    <span class="comment-text">good fish!</span>
                </span>
                <div class="comment-bottom">
                    <a class="delete-btn">Delete</a>
                </div>
            </div>
            <div class="comment-item">
                <div class="user-info">
                    <img src="./public/images/comment/user.png" class="user-avatar" alt="">
                    <div class="user-detail">
                        <span class="user-name">nickname</span>
                        <span class="star-list">
                            <img src="./public/images/comment/star-active.png" alt="" />
                            <img src="./public/images/comment/star-active.png" alt="" />
                            <img src="./public/images/comment/star.png" alt="" />
                            <img src="./public/images/comment/star.png" alt="" />
                            <img src="./public/images/comment/star.png" alt="" />
                        </span>
                    </div>
                    <div class="comment-date">
                        <span>2021-01-01</span>
                    </div>
                </div>
                <span class="comment-content">
                    <i class="food-name">#meat#</i>
                    <span class="comment-text">meat shit!</span>
                </span>
                {{!-- <div class="comment-bottom">
                    <a class="delete-btn">Delete</a>
                </div> --}}
            </div>
        </div>
    </div>
</section>