<section class="section comment-success-section">
    <div class="container">
        <img src="./public/images/comment/comment-success.png" alt="" class="comment-success-img">
        <span class="comment-success-text">Comment Success!</span>
        <a href="/commentlist" class="comment-btn btn btn-primary cart-btn position-relative">Back</a>
    </div>
</section>