<section class="section cart-section empty-cart-card">
    <div class="container">
        <h1 class="main-heading text-center pt-5">My Cart</h1>
        <h2 class="text-center pb-400">Oops !!! Your cart is empty. </h2>
    </div>
</section>