<section class="section comment-success-section">
    <div class="container">
        <img src="./public/images/comment/order-success.png" alt="" class="comment-success-img">
        <div class="order-success-text">Welcome Again</div>
        <div class="order-success-text">Have a nice day~</div>
        <div class="order-operation">
            <a href="/menu" class="order-btn btn btn-primary cart-btn position-relative">Continue</a>
            <a href="/" class="order-btn btn btn-primary cart-btn position-relative" style="background-color: red;border-color:red;">Back</a>
        </div>
    </div>
</section>