{
<section class="section menu-section yellow-section-background">
    <div class="container">
        <div class="menu-card-box">
            <div class="row">
                <h1 class="main-heading text-center mt-5 mb-5">Thank You !!!</h1>
                <h2 class="subheading text-center mt-5 mb-5">Your Order Is Placed, Order Number: {{order}}</h2>
            </div>
        </div>
    </div>
</section>
