<section class="section packagelist-section">
    <div class="container">
        <div class="package-list">
            <div class="package-item">
                <div class="package-title">
                    <div class="package-name">Special meal 1</div>
                    <div class="package-discount">-$15</div>
                </div>
                <div class="food-list">
                    <div class="food-item">
                        <img class="food-img" src="./public/images/trial1.jpg" alt="">
                        <div class="food-info">
                            <div class="food-name">Pizza</div>
                            <div class="food-price">$6</div>
                        </div>
                    </div>
                    <div class="food-item">
                        <img class="food-img" src="./public/images/trial4.jpg" alt="">
                        <div class="food-info">
                            <div class="food-name">Pizza</div>
                            <div class="food-price">$15</div>
                        </div>
                    </div>
                </div>
                <div class="package-bottom">
                    <a href="/cartpage" class="package-add-btn btn btn-primary cart-btn position-relative">Add to cart</a>
                </div>
            </div>
            <div class="package-item">
                <div class="package-title">
                    <div class="package-name">Special meal 2</div>
                    <div class="package-discount">-$25</div>
                </div>
                <div class="food-list">
                    <div class="food-item">
                        <img class="food-img" src="./public/images/trial1.jpg" alt="">
                        <div class="food-info">
                            <div class="food-name">Pizza</div>
                            <div class="food-price">$6</div>
                        </div>
                    </div>
                    <div class="food-item">
                        <img class="food-img" src="./public/images/trial4.jpg" alt="">
                        <div class="food-info">
                            <div class="food-name">Pizza</div>
                            <div class="food-price">$15</div>
                        </div>
                    </div>
                </div>
                <div class="package-bottom">
                    <a href="/cartpage" class="package-add-btn btn btn-primary cart-btn position-relative">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</section>