  {{!-- Start of Privacy --}}

<section class="section login-form pt-3 yellow-section-background">
  <div class="container">
    <h1 class="main-heading mt-5 mb-5">Privacy Policy</h1>
    <div class="privacy-main-text">
      <p class="privacy-main-text">
        Everyday Brunch is committed to protecting your privacy. This Policy describes the types of information we may collect from and about you when you visit our website, use our mobile app, or visit a Everyday Brunch (collectively, our "Services"), and our practices for using, maintaining, protecting and disclosing that information. By using the Services, you agree to the collection, use and disclosure of your information as described in this Policy, and to the Everyday Brunch, which are incorporated by reference.
      </p>
      <p class="privacy-main-text">
        We may from time to time update this Policy, so we invite you to review it periodically. All changes will go into effect on the date noted below. The new Policy will apply to all current users of our Services and will replace any prior Policies. If we change the Policy in a material way, we will provide appropriate notice to you.
      </p>
      <h2 class="privacy-title" id="what-info1">Quick Guide to Contents</h2>
      <p class="privacy-main-text">
        <a href="#what-info">What Inoformation We Collect and How We Use It</a>
      </p>
      <p class="privacy-main-text">
        <a href="#use-cookie">Use of Cookies and Other Technology; Do Not Trck</a>
      </p>
      <p class="privacy-main-text">
        <a href="#accessing-info">Accessing, Updating, Deleting and Editing Your Information</a>
      </p>
      <p class="privacy-main-text">
        <a href="#service-providers">Service Providers</a>
      </p>
      <p class="privacy-main-text">
        <a href="#security">Security</a>
      </p>
      <p class="privacy-main-text">
        <a href="#opt-out">Opting Out</a>
      </p>
      <h3 class="privacy-title" id="what-info">What Information We Collect and How We Use It</h3>
      <p class="privacy-main-text bold" id="info-cellection">Information Cellection and Use</p>
      <p class="privacy-main-text">
        We collect information from you when you provide it to us voluntarily and knowingly. You are not required to register or provide information to us, but if you choose not to, you may not be able to use some or all of our Services. Here are some of the ways we may collect information from you, and how we may use that information:
      </p>
      <ul>
        <li class="privacy-main-text">
          <span class="bold">Create an Account: </span>
          If you create an Everyday Brunch account, we may collect the following information from you: name, address, phone number, email address, username and password. We use this information to establish and manage your account and any orders you place through that account and to contact you via email or regular mail, unless you opt out by following the instructions in the "Opting Out" section of this Policy, below.
        </li>
        <li class="privacy-main-text">
          <span class="bold">Make a Purchase: </span>
          If you shop with us, including by placing a mobile order, we collect some or all of the following information about you: name, address(es), phone number, email address, billing information including credit card number and expiration date, as well as the names, addresses and phone numbers of gift recipients (if any). We use your name, address, phone number and billing/credit card information to process and fulfill your order.
        </li>
        <li class="privacy-main-text">
          <span class="bold">Communicate with You: </span>
          The email address you provide is used for internal purposes, such as confirming and tracking your orders. We may also contact you occasionally via email or regular mail to keep you up-to-date on the latest Everyday Brunch news and/or to provide order status updates. If you would like to opt out of receiving marketing mailings from us, just let us know (see "Contacting Us," below). Also, gift recipients may, from time to time, receive offers from us regarding new products and services that we think may be of interest to them. We allow gift recipients the option to opt out of receiving future marketing-related communications from us.
        </li>
      </ul>
      <p class="privacy-main-text">
        We also may use the information we collect from you to (1) analyze the usage and operations of, and improve, our Services and business, (2) advertise to you, (3) address problems with the Services or our business, and (4) protect the security and integrity of the Services and our business, such as through fraud detection and prevention.
      </p>
      <p class="privacy-main-text">
        We also may use the information we collect from you to (1) analyze the usage and operations of, and improve, our Services and business, (2) advertise to you, (3) address problems with the Services or our business, and (4) protect the security and integrity of the Services and our business, such as through fraud detection and prevention.
      </p>
      <p class="privacy-main-text bold" id="info-disclosure">Information Disclosure</p>
      <p class="privacy-main-text">We may disclore your information in the following ways: </p>
      <ul>
        <li class="privacy-main-text">
          <span class="bold">Service Providers: </span>
          We may share your information with service providers that provide business, professional or technical support functions for us (like fulfilling or shipping orders, processing transactions, detecting and preventing fraud, or administering a loyalty or rewards program). See the "Service Providers" section below for more information.
        </li>
        <li class="privacy-main-text">
          <span class="bold">Promotions: </span>
          If you enter one of our promotions, we may disclose your information to third parties or the public in connection with the administration of the promotion, as required by law, as otherwise permitted by the promotion’s official rules, or otherwise in accordance with the terms of this Privacy Policy
        </li>
        <li class="privacy-main-text">
          <span class="bold">Legal Matters; Safety: </span>
          We may disclose your information when we have reason to believe that it is necessary to identify, contact or bring legal action against persons or entities who may be causing injury to you, Everyday Brunch or others. We may also disclose your information when we believe the law requires or otherwise permits it (e.g., to respond to subpoenas or judicial process).
        </li>
        <li class="privacy-main-text">
          <span class="bold">Sale or Transfer of Business Assets: </span>
          In the event of a merger, consolidation or sale or transfer of all or substantially all of our company or its assets, information collected by our Services may be transferred to the purchaser or the new company.
        </li>
        <li class="privacy-main-text">
          <span class="bold">Other: </span>
          We also may share your information as disclosed to you at the time of collection.
        </li>
      </ul>
      <h3 class="privacy-title" id="use-cookie">Use of Cookies and Other Technology; Do Not Track</h3>
      <p class="privacy-main-text">
        We and third parties use cookies and other analytics tools to automatically collect information such as:
      </p>
      <ul>
        <li class="privacy-main-text">
          <span class="bold">Computer or Device Information: </span>
          We may automatically collect your Internet Protocol ("IP") address, other unique identifier, or information from the computer, mobile device, tablet, or other device you use to access the Services. That information may include your browser type, device type, operating system, software version, phone model, phone operating system, and the domain name from which you accessed the Services.
        </li>
        <li class="privacy-main-text">
          <span class="bold">Usage Information: </span>
          We may collect information about your use of the Services, including the date and time you visit, the areas or pages that you visit, the amount of time you spend, the number of times you return, and other click-stream or usage data. We also may collect information about emails that you open, forward, or click-through to our Services, as well as other sites that you may visit.
        </li>
      </ul>
      <p class="privacy-main-text">
        We collect this information to help us provide a better user experience by, for example, delivering more relevant advertising on the Services and across the Internet and linking data collected across other computers or devices that you may use, and to better understand how you use our Services. Our system may not recognize Do Not Track requests or headers from some or all browsers.
      </p>
      <h3 class="privacy-title" id="accessing-info">Accessing, Updating, Deleting and Editing Your Information</h3>
      <p class="privacy-main-text">
        After setting up an account with Blue Bottle Coffee, you can access, review, and/or correct the information you provided to us by logging into your account.
      </p>
      <p class="privacy-main-text bold" id="ca-rights">Your California Privacy Rights</p>
      <ul>
        <li class="privacy-main-text">
          <span class="bold">Access: </span>
          You or your authorized representative may request, up to two times each year, that we disclose to you the categories and specific pieces of personal information that we have collected from and about you, and how we used and disclosed that personal information.
        </li>
        <li class="privacy-main-text">
          <span class="bold">Deletion: </span>
          You or your authorized representative may request that we delete any personal information that we have collected from or about you. Please note that we may not always be able to fully address your request, such as if we need the information to complete a transaction for you, to detect and protect against fraudulent and illegal activity, to exercise our rights, or to comply with a legal obligation.
        </li>
        <li class="privacy-main-text">
          <span class="bold">Opt Out: </span>
          You also may request to opt out of the sale of your personal information to third parties for their commercial use. This means that, if you opt out, going forward, we will not share your personal information with such third parties to use for their own purposes unless you later direct us to do so.
        </li>
      </ul>
      <p class="privacy-main-text">
        We may need to request additional information from you or your authorized representative for verification purposes. We value your privacy and will not discriminate in response to your exercise of your privacy rights.
      </p>
      <p class="privacy-main-text">
        We also make the following disclosures with respect to personal information (PI):
      </p>
      <table class="privacy-table" id="pi-collected">
        <tbody>
          <tr>
            <th class="ba pv5 ph20 privacy-main-text bold">Categories of PI Collected</th>
            <th class="ba pv5 ph20 privacy-main-text bold">Sources of PI</th>
            <th class="ba pv5 ph20 privacy-main-text bold">Purpose of Collection</th>
          </tr>
          <tr>
            <td class="ba pa10">
              <p>Identifiers/contact information</p>
              <p>Commercial information</p>
              <p>Internet or other electronic network activity information</p>
              <p>Geolocation</p>
              <p>Visual and audio information</p>
              <p>Inferences drawn from the above</p>
            </td>
            <td class="ba pa10">
              <p>Consumers</p>
              <p>Analytics tools</p>
              <p>Advertising networks</p>
              <p>Social networks</p>
            </td>
            <td class="ba pa10">
              <p>
                "See "Information Collection and Use" and "Use of Cookies and Other Technology" sections, above
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <p class="privacy-main-text bold" id="categories-sold">Categories of Personal Information Sold</p>
      <p class="privacy-main-text">
        In the last 12 months, we have sold the following categories of personal information:
      </p>
      <ul>
        <li class="privacy-main-text">
          Identifiers/contact information, sold to social networks, advertising networks and providers, and data analytics providers; and
        </li>
        <li class="privacy-main-text">
          Internet/electronic activity, sold to social networks, advertising networks and providers, and data analytics providers.
        </li>
      </ul>
      <p class="privacy-main-text">
        We do not knowingly sell personal information about persons under the age of 16.
      </p>
      <p class="privacy-main-text bold" id="categories-disclosed">Categories of Personal Information Disclosed</p>
      <p class="privacy-main-text">
        In the last 12 months, we have disclosed the following categories of personal information for a business purpose (such as with our service providers who are restricted from using your personal information outside the scope of their services for us):
      </p>
      <ul>
        <li class="privacy-main-text">
          Identifiers/contact information, disclosed to service providers of advertising, data analytics, email/SMS/phone calls, direct mail, cloud software and storage, fraud detection and prevention, and customer service.
        </li>
        <li class="privacy-main-text">
          Internet/electronic activity, disclosed to service providers of advertising, data analytics, cloud software and storage, and fraud detection and prevention.
        </li>
        <li class="privacy-main-text">
          Commercial information, disclosed to service providers of payment processing, email/SMS/phone calls, direct mail, cloud software and storage, data analytics, customer service, shipping and logistics, and fraud detection and prevention.
        </li>
        <li class="privacy-main-text">
          Visual and audio information, disclosed to service providers of payment processing, email/SMS/phone calls, direct mail, cloud software and storage, data analytics, customer service, shipping and logistics, and fraud detection and prevention.
        </li>
        <li class="privacy-main-text">
          Geolocation, disclosed to service providers of cloud software and storage, data analytics, and fraud detection and prevention.
        </li>
        <li class="privacy-main-text">
          Inferences drawn from the above, disclosed to service providers of advertising, data analytics, cloud software and storage, and fraud detection and prevention.
        </li>
      </ul>
      <h3 class="privacy-title" id="service-providers">Service Providers</h3>
      <p class="privacy-main-text">
        We sometimes employ other companies and individuals to perform services for us. For example, we may hire agencies to help administer promotions or rewards programs, to advertise, to analyze data, to detect and prevent fraud, to process payments, to fulfill orders you place, and to provide customer service. We may share your information with and receive your information from these service providers.
      </p>
      <h3 class="privacy-title" id="security">Security</h3>
      <p class="privacy-main-text">
        We take your privacy and security seriously. For this reason, we maintain administrative, physical and technical safeguards that are designed to protect your personal information from accidental, unlawful or unauthorized destruction, loss, access, disclosure or use.
      </p>
      <h3 class="privacy-title" id="opt-out">Opting Out</h3>
      <p class="privacy-main-text">
        If you would rather not receive marketing emails from us, please let us know by contacting us as indicated below, or by clicking the "Unsubscribe" link at the bottom of any marketing email.
      </p>
      <br>
      <p class="privacy-main-text bold italic">Last modified: Dec. 9th, 2021</p>
    </div>
    
    </div>


</section>

{{!-- End of Privacy --}}