{{!-- Start of Terms --}}

<section class="section login-form pt-3 yellow-section-background">
  <div class="container">
    <h1 class="main-heading mt-5 mb-5">Terms & Conditions</h1>
    <p class="privacy-mian-text">
      <span class="bold">
        IMPORTANT: These Terms of Use contain an arbitration clause and class action waiver, which govern how disputes with Blue Bottle Coffee will be resolved.
      </span>
       These provisions affect your legal rights, so please read them, and these entire Terms of Use, carefully.
    </p>
    <p class="privacy-main-text">
      Welcome to Everyday Brunch!  We built our website and mobile app (collectively, our "Services") to share information about our company; to provide updates related to our company; to allow you to purchase our products and have them shipped directly to you; and to allow you to place orders from our cafes directly from your mobile phone."
    </p>
    <h2 class="privacy-title">Acceptance</h2>
    <p class="privacy-main-text">
      The following terms govern your access to and use of the Services, including any content and services offered. By using our Services, you agree to these terms.
    </p>
    <p class="privfacy-main-text">
      We may revise and update these Terms from time to time. All changes are effective immediately when we post them. Your continued use of our Services following the posting of revised Terms means that you accept and agree to the changes.
    </p>
    <h3 class="privacy-title">Privacy</h3>
    <p class="privacy-main-text">
      We value your privacy. Please review our 
      <a href="http://localhost:3000/privacy">Privacy Policy</a>
       to understand our privacy practices. All information you provide to us via the Services is subject to our Privacy Policy.
    </p>
    <h3 class="privacy-title">Trademarks</h3>
    <p class="privacy-main-text">
      Everyday Brunch Co® and the Everyday Brunch logo are registered trademarks of Everyday Brunch, Inc. You must not use these trademarks without our prior written permission. All other names, logos, product and service names, designs and slogans that may appear on the Services are the trademarks of their respective owners.
    </p>
    <h3 class="privacy-title">Other Intellectual Property Rights</h3>
    <p class="privacy-main-text">
      The Services and their entire contents, features and functionality (including but not limited to all information, software, text, displays, images, video and audio, and the design, selection and arrangement thereof) are owned by Blue Bottle Coffee, Inc., its licensors or other providers of such material and are protected by U.S. and international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.
    </p>
    <p class="privacy-main-text">
      These terms permit you to use our Services for your personal, non-commercial use only. You must not reproduce, distribute, modify, create derivative works of, publicly display, publicly perform, republish, download, store or transmit any of the material on our Services, except as follows:
    </p>
    <ul>
      <li class="privacy-main-text">
        You may temporarily store copies of such materials in RAM incidental to your accessing and viewing those materials.
      </li>
      <li class="privacy-main-text">
        You may store files that are automatically cached by your web browser for display enhancement purposes.
      </li>
      <li class="privacy-main-text">
        You may print or download one copy of a reasonable number of pages of our Services for your own personal, non-commercial use and not for further reproduction, publication or distribution.
      </li>
    </ul>
    <h3 class="privacy-title">Permitted and Prohibited Uses</h3>
    <p class="privacy-main-text">
      You may use our Services only for lawful purposes and in accordance with these Terms. You agree not to use our Services in any way that violates any applicable federal, state, local or international law or regulation (including, without limitation, any laws regarding the export of data or software to and from the U.S. or other countries). You also agree not to:
    </p>
    <ul>
      <li class="privacy-main-text">
        Use our Services in any manner that could disable, overburden, damage, or impair or interfere with any other party's use of our Services.
      </li>
      <li class="privacy-main-text">
        Use any robot, spider or other automatic device, process or means to access our Services for any purpose, including monitoring or copying any of the material on our Services.
      </li>
      <li class="privacy-main-text">
        Use any device, software or routine that interferes with the proper working of our Services.
      </li>
      <li class="privacy-main-text">
        Introduce any viruses, trojan horses, worms, logic bombs or other material which is malicious or technologically harmful.
      </li>
      <li class="privacy-main-text">
        Attempt to gain unauthorized access to, interfere with, damage or disrupt any parts of our Services, the server on which our Services are stored, or any server, computer or database connected to our Services.
      </li>
      <li class="privacy-main-text">
        Attack our Services via a denial-of-service attack or a distributed denial-of-service attack.
      </li>
      <li class="privacy-main-text">
        Otherwise attempt to interfere with the proper working of our Services.
      </li>
    </ul>
    <h3 class="privacy-title">Reliance on Services Information</h3>
    <p class="privacy-main-text">
      The information presented on our Services is made available solely for general information purposes. We do not warrant the accuracy, completeness or usefulness of this information. Any reliance you place on such information is strictly at your own risk. We disclaim all liability and responsibility arising from any reliance placed on such materials by you or any other user, or by anyone who may be informed of any of the Services’ contents.
    </p>
    <h3 class="privacy-title">Purchasing Our Products</h3>
    <p class="privacy-main-text">
      You may only register for a Everyday Brunch account and purchase our products if you are at least 18 years old. When you register for an account, you represent that (1) you meet such age requirement, (2) all of the information you provide is accurate, current and complete, (3) you will be solely responsible for all transactions that take place using your account, and (4) you will be solely responsible for maintaining the secrecy and security of your account and password. We reserve the right to refuse service, terminate your account or your participation in any rewards program offered, or cancel your orders in our sole discretion, including, without limitation, if we believe that your conduct violates applicable law or is harmful to our interests.
    </p>
    <h3 class="privacy-title">Changes to the Services</h3>
    <p class="privacy-main-text">
      We may update the content on our Services from time to time, but such content is not necessarily complete or up to date. Any of the material on our Services may be out of date at any given time, and we are under no obligation to update such material.
    </p>
    <h3 class="privacy-title">Linking to the Services</h3>
    <p class="privacy-main-text">
      You may link to our Services, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part without our express written consent.
    </p>
    <h3 class="privacy-title">Links from the Services</h3>
    <p class="privacy-main-text">
      Any links from the Services to other sites and resources provided by third parties are provided for your convenience only. We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them. If you decide to access any of the third party sites and resources linked to our Services, you do so entirely at your own risk and subject to the terms and conditions of use for such sites and resources.
    </p>
    <h3 class="privacy-title">Disclaimer of Warranties</h3>
    <p class="privacy-main-text">
      You understand that we cannot and do not guarantee or warrant that files available for downloading from the internet or the Services will be free of viruses or other destructive code. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for anti-virus protection and accuracy of data input and output, and for maintaining a means external to our Services for any reconstruction of any lost data. WE WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A DISTRIBUTED DENIAL-OF-SERVICE ATTACK, VIRUSES OR OTHER TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT YOUR EQUIPMENT, PROGRAMS, DATA OR OTHER PROPRIETARY MATERIAL DUE TO YOUR USE OF OUR SERVICES OR ANY SERVICES OR ITEMS OBTAINED THROUGH OUR SERVICES OR TO YOUR DOWNLOADING OF ANY MATERIAL POSTED ON IT OR ON ANY LINKED WEBSITE OR APP.
    </p>
    <p class="privacy-main-text">
      YOUR USE OF OUR SERVICES, THEIR CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH OUR SERVICES IS AT YOUR OWN RISK. OUR SERVICES, THEIR CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. NEITHER BLUE BOTTLE COFFEE NOR ANY PERSON ASSOCIATED WITH BLUE BOTTLE COFFEE MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS, SECURITY, RELIABILITY, QUALITY, ACCURACY OR AVAILABILITY OF OUR SERVICES. WITHOUT LIMITING THE FOREGOING, NEITHER BLUE BOTTLE COFFEE NOR ANYONE ASSOCIATED WITH BLUE BOTTLE COFFEE REPRESENTS OR WARRANTS THAT OUR SERVICES, THEIR CONTENT OR ANY SERVICES OR ITEMS OBTAINED THROUGH OUR SERVICES WILL BE ACCURATE, RELIABLE, ERROR-FREE OR UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, THAT OUR SERVICES OR THE SERVER THAT MAKES THEM AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS OR THAT OUR SERVICES OR ANY SERVICES OR ITEMS OBTAINED THROUGH OUR SERVICES WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS.
    </p>
    <p class="privacy-main-text">
      TO THE MAXIMUM EXTENT PERMITTED BY LAW, WE HEREBY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR PARTICULAR PURPOSE.
    </p>
    <h3 class="privacy-title">Limitation on Liability</h3>
    <p class="privacy-main-text">
      IN NO EVENT WILL BLUE BOTTLE COFFEE, ITS AFFILIATES OR ITS LICENSORS, SERVICE PROVIDERS, EMPLOYEES, AGENTS, OFFICERS OR DIRECTORS BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN CONNECTION WITH YOUR USE, OR INABILITY TO USE, OUR SERVICES, ANY LINKED WEBSITES LINKED, ANY CONTENT ON OUR SERVICES OR SUCH OTHER WEBSITES OR ANY SERVICES OR ITEMS OBTAINED THROUGH OUR SERVICES OR SUCH OTHER WEBSITES, INCLUDING ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO, PERSONAL INJURY, PAIN AND SUFFERING, EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL, LOSS OF DATA, AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT OR OTHERWISE, EVEN IF FORESEEABLE.
    </p>
    <h3 class="privacy-title">Indemnification</h3>
    <p class="privacy-main-text">
      You agree to defend, indemnify and hold harmless Everyday Brunch, its affiliates, licensors and service providers, and its and their respective officers, directors, employees, contractors, agents, licensors, suppliers, successors and assigns from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses or fees (including reasonable attorneys' fees) arising out of or relating to your violation of these Terms or your use of our Services, including, but not limited to, any use of our content, services and products other than as expressly authorized in these Terms or your use of any information obtained from our Services.
    </p>
    <p class="privacy-main-text">Proposition 65 Warning</p>
    <p class="privacy-main-text">
      The Safe Drinking Water and Toxic Enforcement Act of 1986, popularly known as Proposition 65, is a California law intended to protect California citizens from chemicals known to cause cancer or birth defects or other reproductive harm and to inform citizens about exposures to such chemicals. One such chemical is acrylamide, which may be present in coffee, including the coffee sold by Blue Bottle Coffee. Acrylamide is a naturally occurring byproduct formed when certain sugars and an amino acid react to high temperatures, such as when coffee is roasted. The U.S. Food and Drug Administration (FDA) has not determined that the low levels of acrylamide naturally found in roasted coffee have any public health impact. Your personal cancer risk is affected by a wide variety of factors. For more information on acrylamide, please consult the FDA’s website at fda.gov. For more information about both acrylamide and Proposition 65, please visit www.oehha.ca.gov/prop65.html.
    </p>
    <h3 class="privacy-title">Governing Law and Jurisdiction</h3>
    <p class="privacy-main-text">
      All matters relating to our Services and these Terms and any dispute or claim arising therefrom or related thereto (in each case, including non-contractual disputes or claims) will be governed by and construed in accordance with the laws of California, without giving effect to any choice or conflict of law provision. Any legal suit, action or proceeding arising out of, or related to, these Terms or our Services is subject to the exclusive jurisdiction of the federal and state courts located in Alameda County, California. You waive any and all objections to the exercise of jurisdiction over you by such courts and to venue in such courts.
    </p>
    <h3 class="privacy-title">Dispute Resolution and Binding Arbitration</h3>
    <p class="privacy-main-text">
      <span class="bold">
        Please read this section carefully. It affects your legal rights, including your right to file a lawsuit in court.
      </span>
    </p>
    <p class="privacy-main-text">
      YOU AND BLUE BOTTLE COFFEE AGREE TO RESOLVE ANY CLAIM, DISPUTE OR CONTROVERSY ARISING FROM OR RELATING IN ANY WAY TO YOUR USE OF THE SERVICES, INCLUDING YOUR PURCHASE OF PRODUCTS THROUGH THE SERVICES, EXCLUDING ANY CLAIM, DISPUTE OR CONTROVERSY THAT QUALIFIES FOR SMALL CLAIMS COURT, EXCLUSIVELY AND FINALLY BY BINDING, BILATERAL ARBITRATION BEFORE A NEUTRAL ARBITRATOR RATHER THAN IN COURT BY A JUDGE OR A JURY.
    </p>
    <p class="privacy-main-text">
      This agreement to arbitrate is intended to be broadly interpreted and expressly includes claims brought under the Telephone Consumer Protection Act, 47 U.S.C. § 227, or any other statute, regulation, or legal or equitable theory.
    </p>
    <p class="paivacy-main-text">
      <span class="bold">Arbitration Rules.</span>
       The arbitration will be administered by the American Arbitration Association ("AAA") in accordance with the Consumer Arbitration Rules (the "AAA Rules") then in effect, except as modified by this section. The Federal Arbitration Act will govern the interpretation and enforcement of this section. The arbitrator will have exclusive authority to resolve any dispute relating to arbitrability and/or enforceability of this arbitration provision, including any unconscionability challenge or any other challenge that the arbitration provision or the agreement is void, voidable or otherwise invalid. The arbitrator will be empowered to grant whatever relief would be available in court under law or in equity. Any award of the arbitrator(s) will be final and binding on each of the parties, and may be entered as a judgment in any court of competent jurisdiction. If you prevail on any claim that affords the prevailing party attorneys’ fees, the arbitrator may award reasonable fees to you under the standards for fee shifting provided by law. 
    </p>
    <p class="paivacy-main-text">
      <span class="bold">Small Claims Court.</span>
        You may elect to pursue your claim in small-claims court rather than arbitration if you provide us with written notice of your intention do so. The small-claims court proceeding will be limited solely to your individual dispute or controversy. 
    </p>
    <p class="paivacy-main-text">
      <span class="bold">Class Action Waiver.</span>
        You agree to an arbitration on an individual basis. In any dispute, NEITHER YOU NOR BLUE BOTTLE COFFEE WILL BE ENTITLED TO JOIN OR CONSOLIDATE CLAIMS BY OR AGAINST OTHER CUSTOMERS IN COURT OR IN ARBITRATION OR OTHERWISE PARTICIPATE IN ANY CLAIM AS A CLASS REPRESENTATIVE, CLASS MEMBER OR IN A PRIVATE ATTORNEY GENERAL CAPACITY. The arbitral tribunal may not consolidate more than one person’s claims, and may not otherwise preside over any form of a representative or class proceeding. The arbitral tribunal has no power to consider the enforceability of this class arbitration waiver and any challenge to the class arbitration waiver may only be raised in a court of competent jurisdiction. If any provision of this arbitration agreement is found unenforceable, the unenforceable provision will be severed and the remaining arbitration terms will be enforced. 
    </p>
    <h3 class="privacy-title">Waiver and Severability</h3>
    <p class="privacy-main-text">
      No waiver by Everyday Brunch of any term or condition set forth in these Terms will be deemed a further or continuing waiver of such term or condition or a waiver of any other term or condition, and any failure of Everyday Brunch to assert a right or provision under these Terms will not constitute a waiver of such right or provision.
    </p>
    <p class="privacy-main-text">
      If any provision of these Terms is held by a court or other tribunal of competent jurisdiction to be invalid, illegal or unenforceable for any reason, such provision will be eliminated or limited to the minimum extent such that the remaining provisions of these terms will continue in full force and effect.
    </p>
    <h3 class="privacy-title">Recurring Subscriptions</h3>
    <p class="privacy-main-text">
      When starting a Blue Bottle subscription, you agree to be billed in a recurring fashion on a per-order basis until your subscription is a) canceled or b) paused. If paused, the subscription will remain paused until the requested resume date or if a resume date is not specified, the subscription will remain paused indefinitely.
    </p>
    <p class="privacy-main-text">
      Your subscription may be cancelled at any time via our website, through the phone, or via email communication with our customer support team. If cancelling via phone or email, please contact us at least 72 hours before the date you are scheduled to be charged next.
    </p>
    <p class="privacy-main-text">
      You will be charged the same amount for each order that is generated from your subscription unless configuration changes are made to the subscription, or you cancel and then resume that subscription. 
    </p>
    <p class="privacy-main-text">The term of your subscription is continuous.</p>
    <h3 class="privacy-title">Entire Agreement</h3>
    <p class="privacy-main-text">
      These Terms and our Privacy Policy constitute the sole and entire agreement between you and Everyday Brunch with respect to our Services and supersede all prior and contemporaneous understandings, agreements, representations and warranties, both written and oral, with respect to our Services. In the event you later agree to additional terms and conditions applicable to the Services, such as terms and conditions governing a rewards program, such terms and conditions are made part of these Terms of Use by reference.
    </p>
    <h3 class="privacy-title">Feedback</h3>
    <p class="privacy-main-text">
      We welcome your comments and suggestions regarding our Services and the information, products and services we make available here.
    </p>
    <p class="privacy-main-text">
      Thank you for visiting our Services. We hope to see you in person at one of our locations soon.
    </p>
    <p class="privacy-main-text bold italic">Last modified: Dec. 9th, 2021</p>
  </div>
</section>

{{!-- End of Terms --}}