<form ref='uploadForm' 
      id='uploadForm' 
      action='./addMenu' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="menuFile" />
        <input type='submit' value='Upload!' />
    </form>